.sidebar {
  flex: 1 1;
  height: calc(100vh - 50px);
  background-color: #031f29;
  position: sticky;
  top: 50px;
  border-radius: 0px 15px 15px 0px;
}

.sidebarWrapper {
  padding: 20px;
  color: #fff;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 18px;
  color: #fff;
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  /* gap: 5px; */
  border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: #d5dadb;
  color: #031f29;
  font-weight: 600;
  font-size: 18px;
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}
