.widgetSm {
  flex: 1;
  margin-right: 20px;
  padding: 20px;

  -webkit-box-shadow: 4px 4px 8px 2px #a9a9a9;
  box-shadow: 4px 4px 8px 2px #a9a9a9;
}

.widgetSmTitle {
  font-size: 20px;
  font-weight: 600;
  color: #031f29;
}

.widgetSmImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.widgetSmList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.widgetSmListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.widgetSmUser {
  display: flex;
  flex-direction: column;
}

.widgetSmUserName {
  font-weight: 600;
  color: #031f29;
}

.widgetSmUserTitle {
  font-weight: 400;
  color: #031f29;
}

.widgetSmButton {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  padding: 7px 10px;
  background-color: #031f29;
  color: #fff;
  cursor: pointer;
}

.widgetSmIcon {
  font-size: 16px !important;
  margin-right: 5px;
}
